body{
    font-family: 'Roboto' !important
}

@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translate(0,30px);
    }
    100%{
        opacity: 1;
        transform: translate(0,0);
    }
}
.pure-menu-heading{
    padding: 12px 1em;
}
.pure-menu {
    text-align: center;
    height: 10vh;
}
.pricing-tables{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.pricing-table {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards
}   

.button-choose {
    background-color: #2b90e9;
    color: #FFF;
    padding: 10px 22px;
    border: 0;
    border-radius: 4px;
    font-size: 1em;
    position: relative;
    bottom: -1.5em;
    transition: 0.3s;
    text-transform: uppercase;
}
.button-choose:hover{
    background-color: #2b89e9;
}

.pricing-table-header.-a{
    background-color: #2B90E9
}

.pricing-table-header.-b{
    background-color: #00A2A7
}

.pricing-table-header.-c{
    background-color: #E25151
}

.pricing-table-header.-d{
    background-color: #EE9C17
}

@media (max-width: 768px){
    .pure-menu{
        height: auto;
    }
    .pricing-tables{
        margin-top: 30px;
        height: auto;
        flex-flow: column;
    }
    .pricing-table{
        margin: 0 1em 2em;
    }
}